body {
    background-image: url("photos/settings-photo.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: mediumpurple;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo{
    display: flex;
    color: antiquewhite;
    flex-direction: row;
}
.logo img {
    width: 50px;
}
.logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings img{
    width:40px;
    margin-right: 1em;
}
.home img{width: 40px;}
.menu {
    display: flex;
    align-items: center;
}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
.logout {
    align-self: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:antiquewhite;
    background-color:mediumorchid;
    border-radius:1.0em;
    height: 2.5em;
	width: 5.5em;

}

#check {display: none;}

@media(max-width: 1070px){
    .logo-name{display:none;}
}


@media(max-width: 935px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu .settings{
        margin-bottom: 20px;
    }
    .menu .logout{
        margin-left: auto;
        margin-right: auto;
        border-radius:1.0em;
        height: 3em;
    	width: 6em;
    }
    .menu li {margin-top: 10px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {
        display: block;}
    #check:checked ~ .menu {right: 0;}
    .logo-name{display: flex; justify-content: center;}
}



.leftbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    width: 8em;
    height: 100vh;
    padding: 1em;
    margin-top: .5em;  
    font-size: larger;
    border-radius: 1em;
    margin-left: 10px;
}
.set-menu{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40px;
}

.set-menu li {
    margin-bottom: 2em;
    text-decoration: none;
}

.set-menu li:hover {
    color: blueviolet;
    background-color: aliceblue;
    border-radius: .7em;
    font-weight: 900;
    padding-left: .6em;

}

.container{
    display: flex;
    flex-direction: row;
}

.kids-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    background-color: lavender;
    border-radius: 2em;
    padding: 2em;
    width: 100%;
}

.kids-container h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:mediumpurple;
    font-size: 2em;   
    margin-bottom: 2em;
    margin-left: 1em;
}

#kids-form  {
    display: flex;
    flex-direction: row;
}
#kids-form label {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
}
#kids-form li{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}
input[type="text"],
input[type="password"]{
    font-size: 1.2em;
    line-height: 1em;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}


input[type="date"]{
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}


#genderSelect {
    font-size: 1.2em;
    line-height: .5em;
    padding: .7em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    height:3em;
}

input[type="submit"] {
    font-size: 1.2em;
    background-color: mediumpurple;
    width:9.25em;
    height:3.125em;
    line-height: 1.5em;
    border-radius: 0.5em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1.5em;
    color:antiquewhite;
}


@media(max-width: 1040){
    #signup-form li{
        width: 5em;
    }
}

@media(max-width: 700px){
    .container {
        display: flex;
        flex-direction: column;
    }
    .leftbar h2{
        font-size: large;
    }
    .leftbar {
        margin-left: 0;
        margin-top: 0;
        border-radius: 0 ;
        background-color: lavender;
        width: 100%;
        height: 5em;
        text-align: center;
    }

    .set-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        margin-top: 1em;
    }
    .signup-container{
        margin-left: 0;
    }
    #signup-form{
        display: flex;
        flex-direction: column;
    }
    .signup-container input[type="submit"]{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
    }
    input[type="submit"]{
        width:7em;
    height:2.2em;
    }
    
}