body {
    background-image: url("photos/background_login.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

.login-container {
    max-width: 500px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 30px;
    background-color: lavender;
    border-radius: 3em;
    
}

.login-container h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:mediumpurple;
    font-size: 3em;  
    padding: 1em;
    margin-bottom: .5em;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
}

input[type="text"],
input[type="password"] {
    font-size: 1.5em;
    line-height: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
}


input[type="submit"] {
    margin:auto;
    font-size: 1.2em;
    background-color: mediumpurple;
    width:150px;
    height:50px;
    line-height: 1.5em;
    border-radius: 0.5em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1.5em;
    color:antiquewhite;
}


.error-msg {
    color: red;
}

@media (max-width: 490px) {
    input[type="text"],
    input[type="password"]{
        max-width: 80%;
        margin: auto;
    }
    .login-container h2{
        font-size: 2em;
    }
    .login-container{
        width: 90%;
    }
    #login-form label{
        font-size: 1em;
        margin:auto;
        padding-top: 1em;
    }
    input[type="submit"]{
        width: 80px;
        height: 40px;
        font-size: .8em;
        margin-top: 3em;
    }

}