.topbar {
    background-color:mediumpurple;
    color:antiquewhite;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
	padding: 1.5em;
}

.logo {
    text-align: center;
    display: flex;
    align-items: center;
    font-style: italic;
}

.logo img {
    width: 3.2em;
}

.taskbar img {
    width: 2em;
}

.taskbar {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.taskbar a {
    text-decoration: none;
    color:antiquewhite;
}

.login {
    align-self: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:indigo;
    color:antiquewhite;
    border-radius:12px;
    position: relative;
    height: 3.1em;
	 width: 4.5em;
}
.home img {
	width: 2.0em;
	position: relative;
 	top:0.9em;
}

.about {
	position: relative;
	top:0.9em;
}
