.topbar {
    background-color:mediumpurple;
    color:antiquewhite;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
}

.logo {
    text-align: center;
    display: flex;
    align-items: center;
    font-style: italic;
}

.logo img {
    width: 50px;
}

.taskbar img {
    width: 25px;
}

.taskbar {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.taskbar a {
    text-decoration: none;
    color:antiquewhite;
}

.login {
    align-self: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:indigo;
    color:antiquewhite;
    border-radius:12px;
    position: relative;
    height: 50px;
}
