body {
    background-image: url("photos/background_login.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: mediumpurple;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo{
    display: flex;
    color: antiquewhite;
    flex-direction: row;
}
.logo img {
    width: 50px;
}
.logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu .sign {
    margin-left: 6em;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}


.login {
    align-self: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:antiquewhite;
    background-color:mediumorchid;
    border-radius:1.0em;
    height: 2.5em;
	width: 5.5em;
    margin-left: 10px;

}

.sign {
    align-self: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:plum;
    color:antiquewhite;
    border-radius:1.0em;
	height: 2.5em;
	width: 5.5em;
    margin-left: 10px;
}

#check {display: none;}

@media(max-width: 750px){
    .logo-name{display: none;}
}

@media(max-width: 650px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu .sign{
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        border-radius:1.0em;
        height: 3em;
    	width: 6em;
    }
    .menu .login{
        margin-left: auto;
        margin-right: auto;
        border-radius:1.0em;
        margin-top: 1em;
        height: 3em;
    	width: 6em;
    }
    .menu li {margin-top: 10px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
    .logo-name{display: flex; justify-content: center;}
    .signup-container{
        display: flex;
        flex-direction: column;

    }
}

.signup-container {
    max-width: 800px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding-bottom: 30px;
    background-color: lavender;
    border-radius: 4em;
    
}

.signup-container h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:mediumpurple;
    font-size: 2.5em;   
}

#signup-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1em;
}

#signup-form label {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 1.5em;
    line-height: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 400px;
}

.col1 #name2{
    margin-top: 36px;
}

#genderSelect {
    font-size: 1.5em;
    line-height: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    width: 95%;
    max-width: 400px;
}

input[type="submit"] {
    font-size: 1.2em;
    background-color: mediumpurple;
    width:150px;
    height:50px;
    line-height: 1.5em;
    border-radius: 0.5em;
    border: none;
    display: flex;
    margin-top:1.5em;
    color:antiquewhite;
    margin-left: 75%;
}

@media(max-width: 915px){
    #signup-form {
        display: flex;
        flex-direction: column;
    }
}