body {
    background-image: url("https://images.pexels.com/photos/7130537/pexels-photo-7130537.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.topbar {
    background-color:mediumpurple;
    color:antiquewhite;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns:  50% repeat(3,1fr);
	grid-auto-rows: minmax(3em, auto);
    /*border: 1px solid black;*/
}

.logo {
    display: flex;
    align-items: center;
    font-style: italic;
    /*border: 1px solid black;*/
}

.logo img {
    width: 3.2em;
}

.logsig{
	/*border: 1px solid black;*/
	display:flex;
	align-items:center;
	justify-content:center;
	justify-content: space-around;
}

.login {
    align-self: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:antiquewhite;
    background-color:mediumorchid;
    border-radius:1.0em;
    height: 2.5em;
	 width: 5.5em;

}

.sign {
    align-self: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:plum;
    color:antiquewhite;
    border-radius:1.0em;
	height: 2.5em;
	width: 5.5em;

}

.home img {
	width: 35px;

}

.home_button {
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: end;
}

.about {
	display: flex;
	align-items:center;
	justify-content:center;
    /*border: 1px solid black;*/
    text-decoration: none;
    color:antiquewhite;
}

.transbox {
    background: rgba(230,230,250, .2); /* lavender */
    margin: 5%;
}

.intro { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.introinfo h2 {
    font-size: medium;
}

.introinfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
    font-size: 1em;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
}

.introinfo p {
    font-size: medium;
    margin:0;
    padding:0;
}

.page img {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 90%;
}