body {
    background-image: url("https://images.pexels.com/photos/7130537/pexels-photo-7130537.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: .5em;
}

.leftbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(230,230,250, .6);
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 100vh;
    /*position: fixed;*/
    padding: 1em;
    margin-top: .5em;  
    margin-left: .5em;
    font-size: larger;
    border-radius: 1em;
}

.leftbar h2 {
    color: darkorchid;
    margin-bottom: 2em;
}

.choose-child li:hover {
    color: hotpink;
    border-radius: .7em;
    font-weight: 900;
    margin-left: 1em;
}

.choose-child {
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    text-decoration: none;
    list-style-type: none;
    font-size: x-large;
    color: purple;
    height: 5em;
    justify-content: space-around ;
    font-weight: 500;
    
}
.choose-child .child1, .child2{
    text-decoration: none;   
    color: darkorchid;
    background-color: rgb(255, 255, 255);
    border-radius: .7em;
    padding: .5em;
    margin-bottom: 2em;
}



.right {
    padding: 3em;
    align-items: center;
    font-family: 'Segoe UI', cursive;
    font-size: x-large;
    background: rgba(230,230,250, .5); /* lavender */
    margin-top: .5em;
    margin-left: .5em; 
    margin-right: .5em;
    width:100vw;
    height: 100vh;
    border-radius: 3em;
}

.right h3 {
    line-height: 5em;
}

.right p {
    margin-bottom: 1em;
}

.right img {
    width: 1.2em;
}

@media(max-width:600px) {
    .page {
        flex-direction: column;
    }

    .leftbar {
        width: 100vw;
        height: 5em;
        text-align: center;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        padding: 0;
    }

    .leftbar h2 {
        margin-bottom: 0;
        background: none;
    }

    .choose-child {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: small;
        background: none;
    }

    .right {
        background: rgba(230,230,250, .2);
        margin-top: .2em;
        margin-left: .2em; 
    }
}

@media(max-width:380px) {
    .right {
        font-size: large;
    }
}