body {
    background-color: #B28FF7;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: .5em;
}

.leftbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:lavender;
    display: flex;
    flex-direction: column;
    width: 8em;
    /*position: fixed;*/
    padding: 1em;
    margin-top: .5em;  
    margin-left: .5em;
    font-size: larger;
    border-radius: 1em;
}

.leftbar h2 {
    border-radius: .2em;
    margin-bottom: 2em;
}

.choose-child {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 40px;
}

.choose-child li:hover {
    color: blueviolet;
    background-color: rgba(240,248,255, .5);
    border-radius: .7em;
    font-weight: 900;
    padding-left: .6em;

}

.child {
    text-decoration: none;   
    color: mediumpurple;
}

h1 {
    font-size: xx-large;
    color: palevioletred;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1em;
    align-self:center;
    -webkit-text-stroke: .3px blueviolet;
}

.medical-buttons {
    padding: 1em;
}

.medical-buttons button, .edit-buttons button {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:white;
    border-radius: 1em;
    height: 2.5em;
    width: 6em;
    align-items: center;
    text-decoration: none;
}

.medical-buttons img, .edit-buttons button img {
    width: 1.2em;
}

.right {
    padding: 3em;
    font-family: 'Segoe UI', cursive;
    font-size: large;
    background: lavender; /* lavender */
    margin-top: .5em;
    margin-left: .5em; 
    width:100vw;
    height: 100vh;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.table {
    border-radius: .5em;
    border-style: solid;
    padding: 1em;
    text-decoration: none;

}

.valori, .labels{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column, .column-optional, .column-more, .column-optional2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.column-more {
    display: none;
}

.table-header {
    font-size: x-large;
    color: rgb(86, 63, 108);
    font-weight: bold;
    margin-bottom: .5em;
}

.table-value, .edit {
    margin-bottom: 1em;
    align-self: center;
    display: grid;
    position: relative;
    grid-template-columns: minmax(auto, 6em);
    grid-template-rows: minmax(auto, 3em);
}

.edit {
    visibility: hidden;
    margin-bottom: 0;
}

@media(max-width:1200px) {
    .page {
        flex-direction: column;
    }

    .leftbar {
        width: 100vw;
        height: 5em;
        text-align: center;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        padding: 0;
    }

    .leftbar h2 {
        margin-bottom: 0;
        background: none;
    }

    .choose-child {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: small;
        background: none;
    }

}

@media(max-width:1010px) {
    .right {
        font-size: medium;
    }

    .table-header {
        font-size: large;
    }
}

@media(max-width:860px) {
    .column-optional {
        display: none;
    }

    .table-value {
        grid-template-columns: minmax(auto, 5em);
    }

    .column-more {
        display:initial;
    }

}

@media(max-width:490px) {
    .column-optional2 {
        display: none;
    }

    .right {
        font-size: smaller;
    }

    .table-header {
        font-size: medium;
    }

    .medical-buttons button {
        font-size: smaller;
    }
}