body {
    background-image: url("../photos/settings-back.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

.leftbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    width: 8em;
    padding: 1em;
    margin-top: .5em;  
    font-size: larger;
    border-radius: 1em;
    margin-left: 10px;
}
.set-menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40px;

}
.set-menu #general a, #add-friend a{
    text-decoration: none;
    color: mediumpurple;
}

.set-menu li {
    margin-bottom: 2em;
}

.set-menu li:hover {
    color: blueviolet;
    background-color: aliceblue;
    border-radius: .7em;
    font-weight: 900;
    padding-left: .6em;

}

.container{
    display: flex;
    flex-direction: row;
}

input[type="submit"] {
    font-size: large;
    background-color: mediumpurple;
    width:10vw;
    height:2.5em;
    line-height: 1.5em;
    border-radius: 0.5em;
    margin-top: 1.5em;
    border: none;
    align-items: center;
    justify-content: center;
    color:antiquewhite;
}

input[type="submit"]:hover {
    background-color: plum;
}

.prieteni{
    margin: 10px 20px 50% 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    font-weight:400;
    background-color: rgb(230,230,250);
    padding: 2em;
    border-radius: 1em;
    color: rgb(105,53,156);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.prieteni .f1, .f2, .f3, .f4{
    background-color: rgb(176, 195, 247, .5);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 1em;
    width: 14em;
}

.prieteni .f1 img, .f3 img, .f4 img, .f2 img{
    width: 28vw;
    margin: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 30%;
    box-shadow: 10px 10px 20px rgb(149, 149, 161);
}

@media(max-width: 1500px){
    .prieteni{
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
    }
}

@media(max-width: 1000px){
    .prieteni {
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}
@media(max-width: 450px){
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .leftbar h2{
        font-size: large;
    }
    .leftbar {
        margin-left: 0;
        margin-top: 0;
        border-radius: 0 ;
        background-color: lavender;
        width: 100%;
        height: 5em;
        text-align: center;
    }

    .set-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        margin-top: 1em;
    }
    
    .prieteni{
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        
    }
    .f1,.f2,.f3,.f4{
        margin: .3em;
    }
    input[type="submit"] {
        width:20vw;
        font-size: 1em;
    }

}