body {
    background-color: #B28FF7;
}


.page {
    display: flex;
    flex-direction: row;
    margin-top: .5em;
}

.leftbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    width: 8em;
    padding: 1em;
    margin-top: .5em;  
    font-size: larger;
    border-radius: 1em;
    margin-left: 10px;
}

.choose-child {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 40px;
}

.leftbar img {
    width: 1.2em;
    margin-bottom: 2em;
}

.leftbar h2 {
    border-radius: .2em;
}

.choose-child li:hover {
    color: blueviolet;
    background-color: rgba(240,248,255, .5);
    border-radius: .7em;
    font-weight: 900;
    padding-left: .6em;

}

.child {
    text-decoration: none;
    color: mediumpurple;
}

.right {
    padding: 3em;
    background-color: lavender;
    margin-top: .5em;
    margin-left: .5em; 
    border-radius: 3em;
    max-width: 100%;
}

#add-form  {
    display: flex;
    flex-direction: column;
}

#add-form label {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
}

#add-form li{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    margin-top: 2em;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"], input[type="file"], textarea{
    font-size: 1.2em;
    line-height: 1em;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

input[type="file"] {
    background-color: white;
}

input[type="date"]{
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    max-width: 100%;
}

input[type="submit"] {
    font-size: 1.2em;
    background-color: mediumpurple;
    width:5em;
    height:2.5em;
    line-height: 1.5em;
    border-radius: 0.5em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    color:antiquewhite;
    margin-right: 2em;
}

input[type="submit"]:hover{
    background-color: plum;
}

.right h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:mediumpurple;
    font-size: 2em;   
    margin-bottom: .5em;
    text-decoration: underline;
}

.right button {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(230,230,250, .2);
    border-radius: 1em;
    height: 2.5em;
    width: 6em;
    align-items: center;
    margin-bottom: 1em;
    color: mediumpurple;
    border-color: mediumpurple;
}

.right button img {
    width: 1.2em;
}



@media(max-width:720px) {
    .page {
        flex-direction: column;
    }

    .leftbar {
        width: 100vw;
        height: 5em;
        text-align: center;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        padding: 0;
    }

    .leftbar h2 {
        margin-bottom: 0;
        background: none;
    }

    .choose-child {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: small;
        background: none;
    }

    .right {
        margin-top: .2em;
        margin-left: .2em; 
    }

}